@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');
body {
    background-image: url(foto/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.texto {
    text-align: center;
    font-family: 'Silkscreen';
    color: rgb(26, 251, 10);
}

.cuadro {
    text-align: center;
}

h1 {
    text-align: center;
    color: white;
    font-family: 'Silkscreen', cursive;
    width: 500px;
    margin: auto;
}

button {
    display: block;
    /* Crea espacios dentro del elemento */
    padding: 7px;
    border-radius: 7px;
    cursor: pointer;
    margin-left: auto;
    /* //crea espacios fuera del elemento  */
    margin-right: auto;
    border-color: white;
    background-color: rgb(2, 255, 44);
    color: black
}